body {
  background-color: aliceblue;
  font-family: courier;
}

h1 {
  color: darkviolet;
  background-color: lightpink;
  font-family: courier;
  font-size: 300%;
}

.important {
  font-size: 200%;
  background-color: lavenderblush;
}

.link {
  background-color: antiquewhite;
}

.places {
  background-color: ivory;
}
